<!-- <div class="p-4">
    <h3 class="text-lg font-semibold mb-4">Formato del torneo</h3>
    <div *ngFor="let key of formats | keys" class="daisy-form-control mb-2">
        <label class="daisy-label cursor-pointer flex items-center space-x-2">
            <input type="radio" [name]="'tournament-format'" class="daisy-radio checked:bg-primary" [value]="key" [checked]="selectedFormat === formats[key]" (change)="onFormatChange(key)" />
            <span class="daisy-label-text">
                {{ formatLabel(formats[key]) }}
            </span>
        </label>
    </div>
</div> -->
