<nav>
    <ul class="daisy-menu daisy-rounded-box w-56 space-y-2 p-2">
        <li>
            <a routerLink="/home" routerLinkActive="font-semibold daisy-active text-white" class="block text-primary-content hover:no-underline">Home</a>
        </li>
        <li>
            <a routerLink="/tournament" routerLinkActive="font-semibold daisy-active text-white" class="block text-primary-content hover:no-underline">Torneos</a>
        </li>
        <li>
            <a routerLink="/players" routerLinkActive="font-semibold daisy-active text-white" class="block text-primary-content hover:no-underline">Jugadores</a>
        </li>
    </ul>
</nav>
